<div class="container-description">
	<h1>Description [Titre du livre] </h1>
	<img src="https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fwww.2Ecaminteresse.2Efr.2Fcontent.2Fuploads.2F2018.2F03.2Fgoat-16672111920.2Ejpg/1920x1440/quality/80/background-color/ffffff/background-alpha/100/focus-point/960%2C720/bouc.jpg" alt="" id="image-description">
	<div class="title-description">
		<p><span class="title">Titre :</span> Harry Potter et la coupe de feu</p>
		<p><span class="title">Auteur :</span>  J.K Rowling</p>
		<p><span class="title">Genre :</span> Fantastique</p>
		<p><span class="title">Description :</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et blanditiis enim, unde, quo quasi repellat nihil, itaque autem aliquam excepturi laboriosam beatae sed molestiae. Laboriosam expedita voluptate, quaerat deleniti eius.</p>
		<p><span class="title">ISBN :</span> 2-7654-1005-8</p>
		<p><span class="title">Nombre de page : </span> 203</p>
		<p><span class="title">Langue :</span> Français</p>
		<p><span class="title">eBook :</span> Oui</p>
		<p><span class="title">Rating :</span> 5/5</p>
		<p><span class="title">Prix :</span> 9,99€</p>
	</div>
	<div class="footer-description">
		<button id="close-description">Fermer</button>
		<button id="cart-description">Acheter</button>
	</div>
</div>