<!-- <div class="container-description">
	<h1>Description [Titre du livre] </h1>
	<img src="https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fwww.2Ecaminteresse.2Efr.2Fcontent.2Fuploads.2F2018.2F03.2Fgoat-16672111920.2Ejpg/1920x1440/quality/80/background-color/ffffff/background-alpha/100/focus-point/960%2C720/bouc.jpg" alt="" id="image-description">
	<div class="title-description">
		<p><span class="title">Titre :</span> Harry Potter et la coupe de feu</p>
		<p><span class="title">Auteur :</span>  J.K Rowling</p>
		<p><span class="title">Genre :</span> Fantastique</p>
		<p><span class="title">Description :</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et blanditiis enim, unde, quo quasi repellat nihil, itaque autem aliquam excepturi laboriosam beatae sed molestiae. Laboriosam expedita voluptate, quaerat deleniti eius.</p>
		<p><span class="title">ISBN :</span> 2-7654-1005-8</p>
		<p><span class="title">Nombre de page : </span> 203</p>
		<p><span class="title">Langue :</span> Français</p>
		<p><span class="title">eBook :</span> Oui</p>
		<p>
			<img src="assets/img/star.svg" alt="" style="width:20px">
			<img src="assets/img/star.svg" alt="" style="width:20px">
			<img src="assets/img/star.svg" alt="" style="width:20px">
			<img src="assets/img/star.svg" alt="" style="width:20px">
			<img src="assets/img/star.svg" alt="" style="width:20px"></p>
		<p><span class="title">Prix :</span> 9,99€</p>
	</div>
	<div class="footer-description">
		<button id="close-description">Fermer</button>
		<button id="cart-description">Acheter</button>
	</div>
</div> -->

<!-- [attr.data-target]="'#' + book.id" -->
<!-- Modal -->
<div *ngFor="let book of booksDesc" class="modal fade" id="{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container-description">
	<h1>Description {{book.title}} </h1>
	<img [src]="book.thumbnail" alt="" id="image-description" >
	<div class="title-description">
		<p><span class="title">Titre :</span> {{book.title}}</p>
		<p><span class="title">Auteur :</span>  {{book.author}}</p>
		<p><span class="title">Genre :</span> {{book.categories}}</p>
		<p><span class="title">Description :</span> {{book.description}}.</p>
		<p><span class="title">ISBN :</span> {{book.identifier}}</p>
		<p><span class="title">Nombre de page : </span> {{book.pageCount}}</p>
		<p><span class="title">Langue :</span> {{book.language}}</p>
		<p><span class="title">eBook :</span> {{book.isEbook}}</p>
		<p><span class="title">Prix :</span>{{ book.priceAfterReduction }} {{ book.currencyCode }}</p>
		<p><span class="title">Rate :</span> {{book.averageRating}}</p>
			
		
	</div>
	<div class="footer-description">
		<button class="btn btn-danger"data-dismiss="modal">Fermer</button>
		<!-- <button class="btn btn-success">Acheter</button> -->
		<button *ngIf="!book.isInCart" class="btn btn-success" (click)="cartFiller(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Ajouter
                  </button>
                  <button *ngIf="book.isInCart" class="btn btn-success" (click)="retrieveHandler(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Retirer du panier
                  </button>
	</div>
	<br>
	</div>
    </div>
  </div>
</div>