.container-description {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer-description{
	height: 50px;
	display: flex;
	justify-content: flex-end;
}
.modal-content {
	width: 120%;
}
#image-description{
	width: 250px;
	height: 300px;

}

.title-description{
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

.title {
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
}

button {

	margin-right: 15px;
 }

