<div id="main-container">
  <app-filter></app-filter>
  <main>
      
      <section id="request-results-container">

        <div *ngFor="let book of books" [hidden]="book.hidden" class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="book.thumbnail" class="card-img" alt="image de presentation du livre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-author">{{ book.author }}</p>
                <p class="card-eval"><small class="text-muted">note: {{ book.averageRating }}</small></p>
                <p class="card-price"> {{ book.changeablePrice }} {{ book.currencyCode }} </p>
                <div id="btns-block">
                  <!-- Button trigger modal [attr.data-target]="'#' + book.id" -->
                  <button id="" class="mybtns details" data-toggle="modal" [attr.data-target]="'#' + book.id"> <!-- GERER VISUEL DU BTN DESCRIPTION-->
                      <i class="fas fa-info"></i>
                      Description
                  </button>
                  <app-book-description></app-book-description>
                  <button *ngIf="!book.isInCart" id="add-to-cart" class="mybtns more" (click)="cartFiller(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Ajouter
                  </button>
                  <button *ngIf="book.isInCart" id="add-to-cart" class="mybtns" (click)="retrieveHandler(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Retirer du panier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
</div>
