
<main>
  <h1>Resultat pour [Xxxxxxx Xxxx] </h1>
  <section id="request-results-container">
    <div class="book-indentity">
      <p class="book-title">Titre Du Livre</p>
      <p class="book-author">Auteur</p>
      <div class="book-thumbnail">
        <img class="" src="">
        <i class="fas fa-image"></i>
      </div>
      <p class="book-price">Prix</p>
      <p class="book-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
      <div class="btns-block">
        <button class="book-details" class="mybtns">DESCRIPTION</button>
        <button class="add-to-cart" class="mybtns"><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="book-indentity">
        <p class="book-title">Titre Du Livre</p>
        <p class="book-author">Auteur</p>
        <div class="book-thumbnail">
          <img class="" src="">
          <i class="fas fa-image"></i>
        </div>
        <p class="book-price">Prix</p>
        <p class="book-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <div class="btns-block">
          <button class="book-details" class="mybtns">DESCRIPTION</button>
          <button class="add-to-cart" class="mybtns"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="book-indentity">
          <p class="book-title">Titre Du Livre</p>
          <p class="book-author">Auteur</p>
          <div class="book-thumbnail">
            <img class="" src="">
            <i class="fas fa-image"></i>
          </div>
          <p class="book-price">Prix</p>
          <p class="book-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          <div class="btns-block">
            <button class="book-details" class="mybtns">DESCRIPTION</button>
            <button class="add-to-cart" class="mybtns"><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
        <div class="book-indentity">
            <p class="book-title">Titre Du Livre</p>
            <p class="book-author">Auteur</p>
            <div class="book-thumbnail">
              <img class="" src="">
              <i class="fas fa-image"></i>
            </div>
            <p class="book-price">Prix</p>
            <p class="book-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            <div class="btns-block">
              <button class="book-details" class="mybtns">DESCRIPTION</button>
              <button class="add-to-cart" class="mybtns"><i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
  </section>
</main>