<div id="main-container">
  <app-filter></app-filter>
  <main>
      <h1 *ngIf="books">Resultat pour: {{ lastQuery }} </h1>
      <section id="request-results-container">
        <div *ngFor="let book of books" class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="book.thumbnail" class="card-img" alt="image de presentation du livre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-author">{{ book.author }}</p>
                <p class="card-eval"><small class="text-muted">note: {{ book.averageRating }}</small></p>
                <p class="card-price"> {{ book.price }} {{ book.currencyCode }} </p>
                <div id="btns-block">
                  <button id="" class="mybtns details"> <!-- GERER VISUEL DU BTN DESCRIPTION-->
                      <i class="fas fa-info"></i>
                      DESCRIPTION
                  </button>
                  <button *ngIf="!book.isInCart" id="add-to-cart" class="mybtns" (click)="cartFiller(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Ajouter au panier
                  </button>
                  <button *ngIf="book.isInCart" id="add-to-cart" class="mybtns" (click)="retrieveHandler(book.id)">
                    <i class="fas fa-shopping-bag">
                    </i>
                    Retirer du panier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</div>
