#cartPage-container {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 20px 35px 50px 35px;
}

h2 {
    text-align: center;
}

#item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    height: 70%;
    padding: 25px;
}

#chosen-book {
    display: flex;
    flex: 1;
}

#block-border-bottom {
    border: 1px solid black;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    flex: 1px;
}

#logo-delete {
    
    padding-top: 40px;
    color: lightgrey;
    width: 5%;
}

#logo-delete:hover {
    color: red;
}

#title_author {
    
    flex: 2;
    padding: 5% 0 0 2%;
}

#number-to-buy {
    flex: 2;
    padding: 5%;

}

#price {

    flex: 0.5;
    padding: 5%;
}


.author{
    line-height: 0px;
}

.book-img{
    padding-top: 9%;
    width: 100px;
    height: 100px;
}

#total-block {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

#total{
    border: 1px solid black;
    height: 60px;
    width: 200px; 
    text-align: center;
    font-weight: bold;
}

#quantity-changer-block {
    flex-direction: column;
    display: flex;
    font-size: 1.3rem;
}

.fas.fa-sort-up, .fas.fa-sort-down {
    cursor: pointer;
}