<div>
  
    <h2>Panier</h2>
  
  <main>
    <table>
      <tr>
        <td class="delete"><i class="fas fa-times-circle"></i></td>
        <td><img src="https://via.placeholder.com/100"></td> 
        <td class="titleAuthor"><h5>Titre du livre<br>Auteur</h5></td>
        <td class="select" colspan="5"><input placeholder="1" type="number" min="1" max="50"></td>
        <td class="price"><p>10,99€</p></td>
      </tr>
      <tr>
          <td class="delete"><i class="fas fa-times-circle"></i></td>
          <td><img src="https://via.placeholder.com/100"></td> 
          <td class="titleAuthor"><h5>Titre du livre<br>Auteur</h5></td>
          <td class="select" colspan="5"><input placeholder="1" type="number" min="1" max="50"></td>
          <td class="price"><p>19,99€</p></td>
      </tr>
      <tr>
          <td class="delete"><i class="fas fa-times-circle"></i></td>
          <td><img src="https://via.placeholder.com/100"></td> 
          <td class="titleAuthor"><h5>Titre du livre<br>Auteur</h5></td>
          <td class="select" colspan="5"><input placeholder="1" type="number" min="1" max="50"></td>
          <td class="price"><p>5,50€</p></td>
        </tr>

    </table>
    <p id="total">Total : 36,48€</p>
  </main>
</div>

