<div id="cartPage-container">
  <main>
    <h2>PANIER</h2>
    <div id="item-container">
      <div *ngFor="let book of booksCart" id="chosen-book">
        <div (click)="retrieveHandlerFromCart(book.id)" id="logo-delete">
          <i class="fas fa-times-circle"></i>
        </div>
        <div id="block-border-bottom">
          <div>
            <img class="book-img" [src]="book.thumbnail">
          </div>
          <div id="title_author">
            <p> {{ book.title }} </p>
            <p class="author"> {{ book.author }} </p>
          </div>
          <div id="number-to-buy">
            <input type="number" min="1" max="10" value="1">
          </div>
          <div id="price">
            <p> {{ book.price }} {{ book.currencyCode }} </p>
          </div>
        </div>
      </div>
      </div>
    <div id="total-block">
      <p id="total"> TOTAL : {{ total }} €</p>
    </div>
  </main>
  
</div>
