<div id="cartPage-container">
  <main>
    <h2>PANIER</h2>
    <div id="item-container">
      <div *ngFor="let book of booksCart" id="chosen-book">
        <div (click)="retrieveHandlerFromCart(book.id)" id="logo-delete">
          <i class="fas fa-times-circle"></i>
        </div>
        <div id="block-border-bottom">
          <div>
            <img class="book-img" [src]="book.thumbnail">
          </div>
          <div id="title_author">
            <p> {{ book.title }} </p>
            <p class="author"> {{ book.author }} </p>
          </div>
          <div id="number-to-buy">
            <div id="quantity-changer-block">
              <span (click)="increaseQuantityHandler(book.id)"><i class="fas fa-sort-up"></i></span>
              <span> {{ book.numberOfBooks }} </span>
              <span (click)="dicreaseQuantityHandler(book.id)"><i class="fas fa-sort-down"></i></span>
            </div>
          </div>
          <div *ngIf="book.numberOfBooks < 10" id="price">
            <p> {{ book.changeablePrice }} {{ book.currencyCode }}</p>
            <p class="remise">vous beneficier du remise de - 5%!<br>
              Pour une remise de 10% achetez 10 exemplaires</p>
          </div>
          <div *ngIf="book.numberOfBooks === 10" id="price">
            <p> {{ book.changeablePrice }} {{ book.currencyCode }}</p>
            <p class="remise"><b>Vous avez maintenant droit a une remise de - 10%!!!!!!</b></p>
          </div>
        </div>
      </div>
      </div>
    <div id="total-block">
      <p id="total"> TOTAL : {{ total }} €</p>
    </div>
  </main>

</div>
