main {
    border: 1px solid black;
    width: 85%;
    margin: 0 auto;
    padding: 20px 35px 50px 35px;
}

h2 {
    text-align: center;
}

#item-container {
    
}

#chosen-book {
    
    display: flex;
    flex: 1;
}

#block-border-bottom {
    border: 1px solid black;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    flex: 1px;
}

#logo-delete {
    
    padding-top: 40px;
    color: lightgrey;
    width: 5%;
}

#logo-delete:hover {
    color: red;
}

#title_author {
    
    flex: 2;
    padding: 5% 0 0 2%;
}

#number-to-buy {
    flex: 2;
    padding: 5%;

}

#price {

    flex: 0.5;
    padding: 5%;
}


.author{
    line-height: 0px;
}

.book-img{
    padding-top: 9%;
}



#total{
    float: right;
    border: 1px solid black;
    height: 60px;
    padding-top: 20px;
    margin: 2px 78px 0 0;
    width: 200px; 
    text-align: center;
    font-weight: bold;
}
