<div class="container-filter">
	<h1>Filtre</h1>
	<div id="container-genre">
		<h4>Genre</h4>
		<ul>
			<li><input type="checkbox"> <label for="">Romantique</label></li>
			<li><input type="checkbox"> <label for="">Comique</label></li>
			<li><input type="checkbox"> <label for="">Fantastique</label></li>
			<li><input type="checkbox"> <label for="">Horreur</label></li>
			<li><input type="checkbox"> <label for="">Erotique</label></li>
		</ul>
	</div>
	<div id="container-rating">
		<h4>Rating</h4>
		<ul>
			<li><input type="checkbox">
				<img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt="">
			</li>
			<li>
				<input type="checkbox"><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt="">
			</li>
			<li>
				<input type="checkbox"><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt="">
			</li>
			<li>
				<input type="checkbox"><img src="assets/img/star.svg" style="width:15px" alt=""><img src="assets/img/star.svg" style="width:15px" alt="">
			</li>
			<li>
				<input type="checkbox"><img src="assets/img/star.svg" style="width:15px" alt="">
			</li>
		</ul>
		<button>Appliquer le filtre</button>
	</div>

</div>