
<div id="search-bar">
  
  <div id="title-cart">
    <p id="brand">MY BOUC STORE</p>
  </div>
  <div id="input-logo">
    <input type="text" class="form-control" id="user-query" placeholder="Tapez un titre ou un auteur..." [formControl]="userQuery">
    
    <div id="loupe">
      <button (click)="clickHandler()">
          <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div id="shop-cart">
    <i class="fas fa-shopping-cart"></i>
</div>
  </div>
<app-main [lastQuery]="lastQuery" [books]="books"></app-main>

