#search-bar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 80%;
  height: 15%;
  padding: 0 10px; 
  margin: 0 auto;
  align-items: center;
}

#title-cart {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#input-logo {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border: 1px solid black;
}

#user-query {
  border: none;
}

#loupe {
  width: 35px;
  font-size: 1.6rem;
  margin-left: 5px;
}

#brand {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Comic Sans MS', arial;
}

#shop-cart {
  font-size: 2.7rem;
}